<div>
  <mat-form-field appearance="fill" >
    <input matInput placeholder="recherche ... " [(ngModel)]="searchText"/>
    <mat-icon matSuffix >search</mat-icon>
  </mat-form-field>


</div>
<div class="fullwidth img-container" style="margin-bottom: 40px">
  <mat-grid-list cols="5" rowHeight="350px">
      <mat-grid-tile *ngFor="let artwork of artworks | filter:searchText">
        <img class="fill" src="{{getImage(artwork.image_id)}}" alt="Test" (click)="getDetails(artwork)"/>
        <mat-grid-tile-footer>
          <div>
            <p class="title">{{artwork.title}}</p>
            <p class="author">{{artwork.artist_title}}</p>
          </div>

        </mat-grid-tile-footer>

      </mat-grid-tile>
  </mat-grid-list>

</div>

